<launch>
  <rosparam param="sim">false</rosparam>
  <rosparam param="map">true</rosparam>
  <rosparam param="use_tf">true</rosparam>
  <rosparam param="rviz">true</rosparam>

  <param name="robot_description" command="$(find xacro)/xacro.py $(find turtlebot_team5)/urdf/turtlebot3_$(arg model).urdf.xacro" />

  <!-- <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher">
    <param name="publish_frequency" type="double" value="10.0" />
  </node> -->

  <node pkg="turtlebot_team5" type="supervisor.py" name="turtlebot_supervisor" output="screen"/>
  <node pkg="turtlebot_team5" type="navigator.py" name="turtlebot_navigator" output="screen"/>
  <node pkg="turtlebot_team5" type="pose_controller.py" name="turtlebot_pose_controller" output="screen"/>
  <node pkg="turtlebot_team5" type="object_locator.py" name="turtlebot_object_locator" output="screen"/>
  <node pkg="turtlebot_team5" type="robot_marker.py" name="robot_marker" output="screen"/>
  <node pkg="turtlebot_team5" type="detector_viz.py" name="turtlebot_detector_viz" output="screen"/>
  <node pkg="turtlebot_team5" type="robot_marker.py" name="turtlebot_robot_marker" output="screen"/>

  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find turtlebot_team5)/rviz/project.rviz" />
</launch>
